<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset=" UTF-8 ">
    <meta http-equiv="X-UA-Compatible " content="IE=edge ">
    <meta name="viewport " content="width=<device-width>, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <h1>
        The current time is <span data-th-text="${currTime}"></span>
        <div th:if="${currHour le 12}">Good Morning</div>
        <div th:unless="${currHour le 12}">Good Afternoon</div>
    </h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tr th:each="item :${cart}" th:style="${itemStat.odd}? 'background-color: lightgray;':'background-color: lightblue;'">
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
    </table>
</body>

</html>