<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sotong Game</title>
</head>

<body>
    <form action="#" th:action="@{/generate}" th:object="${generate}" method="post">
        <h1><label for="question">How many numbers do you wish to generate?</label></h1><br>
        <input type="number" th:field="*{value}" value="1" min="1" max="10">
        <input type="submit" value="Generate">
    </form>
    <div th:if="${#lists.isEmpty(randomNumbers)}"></div>
    <div th:unless="${#lists.isEmpty(randomNumbers)}">
        <ul th:each="number : ${randomNumbers}">
            <img th:src="@{${'/images/' + number + '.png'}}" width=64 height=80 alt="${number}" />
        </ul>
    </div>
</body>

</html>