<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Library of Ohara</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div classs="container">
        <div class="row mt-3">
            <div class="col">
                <div class="col d-flex justify-content-center mt-5">
                    <h2 class="display-1">Book Search</h1>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <form method="post" action="/">
                    <div class="input-group input-group-lg">
                        <input type="text" name="title" th:value="${title}" placeholder="Book title here." class="form-control">
                        <button class="btn btn-info" type="submit">Get</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>