<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nil Sine Labore</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div classs="container">
        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="display-1">Do.</h1>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div th:if="${#lists.isEmpty(usernames)}" class="d-flex justify-content-center">
                    <h1 class="display-1">
                        Nobody is home.
                    </h1>
                </div>
                <div th:unless="${#lists.isEmpty(usernames)}" class="d-flex justify-content-center">
                    <div class="list-group" th:each="user : ${usernames}">
                        <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">The current button</button> -->
                        <form actions="#" th:action="@{/task}" th:object="${user}" methods="post">
                            <button type="submit" th:text="${user}" th:value="${user}" class="list-group-item list-group-item-action ">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>