<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nil Sine Labore</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div classs="container">
        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="display-1">Things to do</h1>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <form action="#" th:action="@{/tasks}" th:object="${todo}" method="post">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" th:field="*{task}">
                        <button class="btn btn-info" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <div th:if="${#lists.isEmpty(todoList)}" class="d-flex justify-content-center">
            <h1 class="display-1">
                Nil, sine labore.
            </h1>
        </div>
        <div th:unless="${#lists.isEmpty(todoList)}" class="d-flex justify-content-center">
            <h1 class="display-6">
                <ol>
                    <span th:each="todo : ${todoList}">
                <li th:text="${todo.task}"></li>
            </span>
                </ol>
            </h1>
        </div>
    </div>
</body>

</html>